body {
	
	background: #2a0040;
	color: #fff;
	font-family: Arial, Sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: right;
}

nav a {
	color: #8A2BE2;
	text-decoration: none;
	margin: 0 10px;
}

.welcome-section {
	position: relative;
	padding: 50px;
	min-height: 40vh;
	display: flex;
	justify-content: center;
	background-color: #0C0714;
	box-shadow: 0 0 5px 5px rgba(138,43,226,0.7);
	background-image: url("./Content/bannerImg.png");
	background-size: cover;
	background-position: center 70%;
	align-items: center;
	background-repeat: no-repeat;
}

.hero-welcome {
	background: rgba(40,40,40,0.65);
	backdrop-filter: blur(8px);	
	padding: 2rem 4rem;
	width: fit-content;
	max-width: 700px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 5px 5px rgba(138,43,226,0.7);
}

.news-section{ 
	padding: 60px 10%;
	background-color: #0C0714;
	color: white;
}

.news-track{
	background-color: #1A1820;
	padding: 50px;
	border-radius: 15px;
	box-shadow: 0 0 10px 5px rgba(138,43,226,0.7);
}

.new-card h3 {
	text-decoration: underline;
}

.preview-section {
	padding: 4rem 2rem;
}

.preview-section h2 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 2rem;
}

.preview-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

.preview-card {
	background: #18141f;
	border: 1px solid #2a2440;
	border-radius: 12px;
	padding: 1.5rem;
	transition: transform 0.3s ease;
}

.preview-card img {
	width: 100%;
	height: auto;
	display: block;
}
.preview-card:hover {
	transform: translateY(-5px);
}
	
@media (max-width: 768px) {
	.welcome-section {
		padding: 25px;
		min-height: 20vh;
		background-position: center;
	}
	.hero-welcome {
		padding: 1.5rem;
		max-width: 75%;
		border-radius: 15px;
		background: rgba(40,40,40,0.35);
		backdrop-filter: blur(2px);
	}
	.hero-welcome h1{
		font-size: 1.2rem;	
	}
	.hero-welcome h2{
		font-size: 1.1rem;
	}
	.hero-welcome p{
		font-size: 1rem;
	}
}
